#imageadminchoose {display:none;}

.userbutton{
    font-size: x-large;
}

#topadminpannel {}

#topadminpannel, #mainadminpannel{
    background-color : #eeeeee;
    min-height: 40px;
    vertical-align: middle;
    padding-top : 10px;
}

#topadminpannel > * , #mainadminpannel > *
{
    padding:10px 25px 0;
}
#mainadminpannel h4{
    font-weight: bold;
}

#mainadminpannel *{
    margin-bottom: 5px;
}

.adminPannelButton{
    color: black;
    font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 10px !important;
}

.adminPannelButton:hover{
	background:#47b475;
	color: #ffffff;
	text-decoration : none;
}
.adminPannelButtonSelected{
	background:#47b475;
    color: #ffffff;
    text-decoration : none;
}

#mainadminpannel{
    font-size: 14px;
}

#mainadminpannel input{
    display: inline-block;
}

#mainadminpannel [type=submit] {
/*    background: none repeat scroll 0 0 #47b475;
    border: 2px solid #47b475;*/
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase;
    width: auto;
    display:inline-block;
    padding-left : 5px;
    padding-right : 5px;
	
	width:100%;
    
}
#mainadminpannel [type=submit]:hover {
    background: none repeat scroll 0 0 #279354;
}



#mainadminpannel select{
    height: 30px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: listbox;
}
#mainadminpannel select::-ms-expand {
    display: none;
}
.adminpannelDangerousButton:hover{
    background: none repeat scroll 0 0 crimson !important;
}


.adminpannelDangerousButton{
    background: none repeat scroll 0 0 red !important;
    border: 2px solid red !important;
}

#mainadminpannel form{
    display: inline-block;
	
	width:100%;
	/*margin-bottom:25px;*/
}

.adminpannelInputElement{
    margin-left : 5px;
    display:inline-block;
    
}

body #imagescriptcontainer #serieschooseselectoruser {max-width:90px !important;}
body #imagescriptcontainer #languagechooseselector {width:90px !important;}
body #imagescriptcontainer #selectVisibleStructures {width:206px !important;}

#imagescriptcontainer select,
#imagescriptcontainer input[type="text"],
#imagescriptcontainer input[type="password"]
{
    width : auto !important;
}
#imagescriptcontainer input[type="submit"] {width:100%;font-size: 16px;font-weight: normal;}

#legendSearchDiv {top: 45px !important;width:400px !important;overflow: scroll;max-height:500px !important;padding: 0 5px;}
#legendSearchDiv a.legendSearchChoice {width:400px;display:block;padding:3px 3px;}

#legendSearchDiv a.legendSearchChoice,
#legendSearchDiv a.legendSearchChoice:visited, 
#legendSearchDiv a.legendSearchChoice:focus, 
#legendSearchDiv a.legendSearchChoice:active {color:#000000;}

#legendSearchDiv a.legendSearchChoice:hover {color:#000000;}
#legendSearchDiv br {display:none;}

#topuserpannel {background:#000000;margin-left:10px;padding:5px 10px 0;font-size:11px;font-weight: bold;height:50px;}

#topuserpannel .userbutton {font-size:22px;font-weight: normal;}

#topuserpannel input[type="text"] {background:#000000;color:#ffffff;}

#topuserpannel > *{
    padding: 0 6px;
    margin-bottom : 0;
	/*margin-right:2px;*/
}

#topuserpannel select {min-width: 50px;height:25px;padding: 2px 5px !important;text-align: right;}
#topuserpannel select option {text-align:left;}

#topuserpannel .clear_input_div {padding:0;}

#topuserpannel .clear_input_div input#legendSearchInput {}

#topuserpannel .clear_input_div a.clear_input {/*left: 185px !important;*/}

#topuserpannel textarea,
#topuserpannel select {
    -moz-appearance: menuitem;
}

#imagescriptcontainer{
    min-height:1000px;
    display: table-row;
}

#lefttrackdown{
    display: table-cell;
    padding : 5px;
    padding-top : 0px;
}

#lefttrackdown canvas{
    display: block;
    margin-bottom : 5px;
    padding-bottom: 5px;
}

#rightblock{
    vertical-align: top;
    display: table-cell;
	
	width:100%;
}