/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 71px;
    height: 30px;
    margin-top: 4px;
    margin-left: -50px;
    margin-bottom: -12px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #818181;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    /*left: 1px;*/
    /*bottom: 2px;*/
    background-color: #4a4b4d;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4f5156;
}

input:checked + .slider:before {
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(43px);
}

/* Rounded sliders */
.slider.round {
    /*border-radius: 34px;*/
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.slider.round:before {
    border-radius: 50%;
}

.textflip{
    margin-top: 4px;
    /*margin-left: 30px;*/
    /*font-size: 12px;*/
    color: #e9ecf6;
}

#flipswitch{
    margin-left: 50px;
	padding-left:0 !important;
}