#btscroll{
    float: right;
    width: 100px;
    margin: 300px 10% 0 0;
    /*display: none;*/
}

.btscroll_move{
    display: inline-block;
}

#btToBottom{
    margin-top: 20px;
}

.spabtscroll_moven.glyphicon-link {
    font-size: 1.2em;
}