{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}

{% block body %}
	{% block start_class %} {% endblock %}
	{% for key, message in app.session.flashbag.all() %}
		<div class="alert alert-{{ key }}">
			{% if message is iterable %}
				{% for m in message %}
				    {{ m|trans({}, 'FOSUserBundle') }}<br>
				{% endfor %}
			    {% else %}
				Hello {{ message|trans({}, 'FOSUserBundle') }}!
			{% endif %}
		</div>
	{% endfor %}
	<div class="main-container-zone">
		{% block fos_user_content %}
		{% endblock fos_user_content %}
	</div>
	{% block end_class %} {% endblock %}
	
{% endblock %} 


{% block bottomscript %}
	{{ parent() }}
	{# small hack : an input with type=email destroy the css : correctit into type=text #}
	<script>
		$(document).ready(function(){
			$("[type=email]").attr("type","text");
		})
	</script>
{% endblock %}