{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block add_class %} class="logged-in userpannel"{% endblock %}
{% block body %}
    <div class="main-container">
<section>
    <div class="container">
            <div class="row">
                    <div class="col-md-16 col-sm-12 text-left">
                        <h4 class="mb0 uppercase bold italic userdatatitle">{{ 'userpannel.userpa'|trans }}</h4> <br><br>
                        <a class="btn-filled btn" href="{{ path('swarminfo_imagescript_page2', {}) }}">{{ 'userpannel.exploreanatomy'|trans }}</a>
                        <a class="btn-filled btn premiun" href="{{ path('swarminfo_imagescript_page3', {}) }}">{{ 'userpannel.getpremiunaccess'|trans }}</a>
                        <a class="btn-filled btn" href="{{ path('swarminfo_imagescript_usepromocode', {}) }}">{{ 'userpannel.usepromocode'|trans }}</a>
                        <a class="btn-filled btn" href="{{ path('swarminfo_imagescript_orderhistory', {}) }}">{{ 'userpannel.orderhistory'|trans }}</a>
                        {#<a class="btn-filled btn" href="{{ path('swarminfo_imagescript_page2', {}) }}">Order history </a>#}
                        <a class="btn-filled btn" href="{{ path('fos_user_profile_edit', {}) }}">{{ 'userpannel.editprofile'|trans }}</a>
                        <a class="btn-filled btn" href="{{ path('fos_user_change_password', {}) }}">{{ 'userpannel.changepass'|trans }}</a>
                        <a class="btn-filled btn logout" href="{{ path('fos_user_security_logout', {}) }}">{{ 'mainpage.logout'|trans }}</a>
                        <br>
                        <b>{{ 'userpannel.accountsetting'|trans }} : </b><br>
                        {{ 'security.login.username'|trans }} : {{ app.user.username }} <br>
                        {{ 'profile.show.email'|trans }} : {{ app.user.email }} <br>
                        {{ 'userpannel.premiumaccessuntil'|trans }} :
                             {% if expire=='expired' %} {{ 'userpannel.expired'|trans }}
                             {% else %}{{ expire }}
                             {% endif %}
                                 <br>
                        <br><br>
                        
                        {# it display something only if the user is an admin #}
                        {{ render(controller('SwarminfoImagescriptBundle:Default:adminpannel', {} )) }}
                        


                    </div>
                    
            </div>
    </div>
</section>

    {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>




{% endblock %}