{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}



{% block body %}

<section >
    username : {{ app.user.username }} <br><br>
    email : {{ app.user.email }} <br><br>
    premium access until : {{ expire }} <br><br>
    <div class="pricing-table pt-1 text-center emphasis" style="width:400px" >
            <h5 class="uppercase">become premium for 30 more days</h5>
            <span class="price">${{paypalprice}}/mo</span>
            <p class="lead">Premium</p>
            <a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {}) }}">Get premium now</a>
    </div><br>
    <a href="{{ path('fos_user_profile_edit', {}) }}">edit profile  </a><br><br>
    <a href="{{ path('fos_user_security_logout', {}) }}">logout  </a><br><br>
</section>



{% if is_granted('ROLE_ADMIN') %}
    {{ render(controller('SwarminfoImagescriptBundle:Default:adminpannel', {})) }}
{% endif %}



{% endblock %}