.btnsearch {
    margin-top: 22px !important;
    width: 100px !important;
    height: 40px !important;
}

.search {
    display:inline-block;
    padding-top: 10px;
    border-width: 1px !important;
    width: 300px !important;
    height: 40px !important;
}

.container{
    position: relative;
}

.searchfiled{
    margin-left: 500px;
}

.thumbZone_right{
    /*margin-bottom: 100px;*/
    display: inline;
}

.slide-right{
    height: auto;
}

.shadow_right{
    margin-bottom: 10px;
}

.image-slider{
    height: 600px;
    overflow-y: visible;
}

#skeleton{
    min-height: 1150px;
    height: 1200px;
    width: 750px;
    float: left;
    display: inline-block;
}

.container
{
    display:table;
    margin: 100px;
}
.row
{
    height: 100%;
    display: table-row;
    padding-left: -200px;
}

.col-sm-4
{
    display: table-cell;
    margin-bottom: 600px;
    margin-left: 500px;
}

.col-md-4
{
    /*display: table-cell;*/
    width: 200px;
    display:inline;
    float:left;
}

.col-md-8
{
    /*display: table-cell;*/
    display:inline;
    float:left;
}

.row .image-slider {
    margin-bottom: 24px;
}

.image-slider {
    height: 600px;
    overflow-y: hidden;
    position: relative;
}

.anatomy{
    margin-left: 100px;
}

.footer-2{
    margin-left: 500px;
}

#clear-input:hover {
    cursor: pointer;
}

#clear-input{
    position: absolute;
    margin-left: 15px;
    margin-top: -7px;
    /*display: none;*/
}