.btnsearch {
    margin-top: 22px !important;
    width: 100px !important;
    height: 40px !important;
}

.search {
    display:inline-block;
    padding-top: 10px;
    border-width: 1px !important;
    width: 300px !important;
    height: 40px !important;
    z-index: 999;
}

.searchfiled{
    margin-left: 500px;
}

.thumbZone_right{
    margin-bottom: 10px;
}

.slide-right{
    height: auto;
    margin-top: 50px;
}

.shadow_right{
    margin-bottom: 10px;
}

.image-slider{
    height: 600px;
    overflow-y: hidden !important;
}

#skeleton{
  /*  min-height: 1150px;
    height: 1200px; */
}

.tabbed-content .text-tabs{
    display: inline-block !important;
}

.thumbZone{
    margin-top: 100px;
}

.list-thumbZone{
    margin-top: -100px;
}

img.cast-shadow {
    max-width: 88%;
    max-height: 300px;
}

#legendSearchDiv{
    margin-top: -60px;
    margin-left: 20px;
    max-height: 500px;

    position: absolute;
    /*position: relative;*/
    width:300px;

}

.legendSearchChoice{
    color: black;
    font-size: 2rem;
}

.search-active{
    background-color: white;
    display: inherit;
    overflow-y: scroll;
    z-index: 100;
}

.search-hide{
    display: none;
}

#clear-input{
    position: absolute;
    margin-left: 280px;
    margin-top: -55px;
    display: none;
}

#clear-input:hover {
    cursor: pointer;
}

