#pswd_info {
    bottom:-75px;
    bottom: -115px\9; /* IE Specific */
    right:55px;
    width:650px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    box-shadow:0 1px 3px #ccc;
}

#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    background:url("../images/cancel.png") no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url("../images/accept.png") no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
