.box{
    white-space:nowrap;
    margin-left: 100px;
}

.box div{
    width: 250px;
    display:inline-block;
}

.promo-field > label{
    margin-right: 100px;
    width: 20px;
}


.promo-field{
    width: 80px;
    padding-right: 140px;

    /*margin-right: 100px;*/
}

.create-promo{
    width: 100px !important;
    margin-left: 50px;
}

#promo_form_prefix{
    margin-left: -50px;
    width: 150px;
}

#history{
    margin-left: 100px;
    font-size: 16px;
}