{% trans_default_domain 'FOSUserBundle' %}
<h4>{{ 'registration.accountdetails'|trans }}</h4>
<div>
    <label for="fos_user_registration_form_title" class="required">{{ 'registration.title'|trans }}</label>
    <select id="fos_user_registration_form_title" class="required" name="_title" >
        {% if fieldsreg %}
            {% for t in title %}
                <option value="{{ t }}"
                        {{ t==fieldsreg.getTitle ? ' selected ' }}
                >
                    {{ t }}</option>
            {% endfor %}
        {% else %}
            <option value=" "> </option>
            {% for t in title %}
                <option value="{{ t }}"  >
                    {{ t }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>

<div>
    <label for="fos_user_registration_form_firstname" class="required">{{ 'registration.firstname'|trans }}</label>
    <input type="text" id="fos_user_registration_form_firstname" name="_firstname" required="required"
            {% if fieldsreg %}
           value={{ fieldsreg.getFirstname }}
           {% endif %}
    >
</div>

<div>
    <label for="fos_user_registration_form_lastname" class="required">{{ 'registration.lastname'|trans }}</label>
    <input type="text" id="fos_user_registration_form_lastname" name="_lastname" required="required"
        {% if fieldsreg %}
           value={{ fieldsreg.getLastname }}
        {% endif %}
    >
</div>

<div>
    <label for="fos_user_registration_form_profession" class="required">{{ 'registration.profession'|trans }}</label>
    <select id="fos_user_registration_form_profession" class="required" name="_profession">
        {% if fieldsreg %}
            {% for p in professions %}
                <option value="{{ p }}"
                        {{ p==fieldsreg.getProfession ? ' selected ' }}
                >
                    {{ p }}</option>
            {% endfor %}
        {% else %}
            <option value=" "> </option>
            {% for p in professions %}
                <option value="{{ p }}" >  {{ p }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>


<div>
    <label for="fos_user_registration_form_country" class="required">{{  'registration.country'|trans }}</label>
    <select id="fos_user_registration_form_country" name="_country" required="required">
        {% if fieldsreg %}
            {% for key,c in countries %}
                <option value="{{ key }}"
                        {{ key==fieldsreg.getCountry ? ' selected ' }}
                >
                    {{ c}}</option>
            {% endfor %}
        {% else %}
            <option value=" "> </option>
            {% for key,c in countries %}
                <option value="{{ key }}" >{{ c}}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>

<div>
    <label for="fos_user_registration_form_addresline1">{{ 'registration.address1'|trans }}</label>
    <input type="text" id="fos_user_registration_form_addresline1" name="_addresline1"
        {% if fieldsreg %}
           value={{ fieldsreg.getAddressLine1 }}
        {% endif %}
    >
</div>

<div>
    <label for="fos_user_registration_form_addresline2">{{ 'registration.address2'|trans }}</label>
    <input type="text" id="fos_user_registration_form_addresline2" name="_addresline2"
        {% if fieldsreg %}
           value={{ fieldsreg.getAddressLine2 }}
        {% endif %}
    >
</div>

<div>
    <label for="fos_user_registration_form_city" class="required">{{ 'registration.city'|trans }}</label>
    <input type="text" id="fos_user_registration_form_city" name="_city"
        {% if fieldsreg %}
           value={{ fieldsreg.getCity }}
        {% endif %}
    >
</div>


<div>
    <label for="fos_user_registration_form_phone" >{{ 'registration.phone'|trans }}</label>
    <input type="text" id="fos_user_registration_form_phone" name="_phone" required="required"
            {% if fieldsreg %}
                 value={{ fieldsreg.getPhone }}
            {% endif %}>
</div>


<div>
    <label for="fos_user_registration_form_promo_code" >{{ 'registration.promocode'|trans }}</label>
    <input type="text" id="fos_user_registration_form_promo_code" name="_promo_code"
            {% if fieldsreg %}
    value={{ fieldsreg.getPromocode }}
            {% endif %}>
</div>

<div>
    <input type="checkbox" name="_receive1"
            {% if fieldsreg %}
                {{ fieldsreg.isComPref1==1 ? ' checked ' }}
            {% endif %}
    > {{ 'registration.iagreetoreseiveemail'|trans }}<br>
    <br>
</div>