<h4 class="mb0 uppercase bold italic userdatatitle">Admin Pannel</h4> <br><br>
<a class="btn-filled btn" href='{{ path('swarminfo_imagescript_edit', {}) }}'> create a new project</a>
<a class="btn-filled btn" href='{{ path('swarminfo_imagescript_usermemberlist', {}) }}'> User member List</a>
<a class="btn-filled btn" href='{{ path('swarminfo_imagescript_promocode', {}) }}'> Promo code</a>
<div class="tabbed-content text-tabs">
        <ul class="tabs">
            {% for tag in projects|keys %}
                <li class="active">
                    <div class="tab-title">
                            <span>{{tag}}</span>
                    </div>
                    <div class="tab-content">
                                    
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                    {% for pid in projects[tag]|keys %}
                                            <td width="25%" height="150px" valign="top" style="vertical-align:top;">
                                                <div class="e_title">
                                                    <h6>
                                                        {{projects[tag][pid].name}}
                                                        {% if not projects[tag][pid].free %} <span class="color-red">Premium</span> {% else %} <span class="color-green" style='color:green'>Free</span> {% endif %}
                                                    </h6>
                                                </div><a href="{{ path('swarminfo_imagescript_edit', {}) }}?id={{projects[tag][pid].id}}"><img class="cast-shadow" alt="Screenshot" src="{{projects[tag][pid].url}}" width="85px"></a> {{projects[tag][pid].images}} Images</td>
                                        {% if (pid+1) is divisible by(4) %}
                                    </tr>
                                    <tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                            </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
                
</div>
