<section>
    <div class="container">
            <div class="row">
                    <div class="col-md-16 col-sm-12 text-left">
                            <h1 class="uppercase">admin pannel</h1><br/>
                            <a href='{{ path('swarminfo_imagescript_edit', {}) }}'> create a new project</a>
                            <div class="tabbed-content text-tabs">
                                    <ul class="tabs">
                                        {% for tag in projects|keys %}
                                            <li class="active">
                                                <div class="tab-title">
                                                        <span>{{tag}}</span>
                                                </div>
                                                <div class="tab-content">
                                                                
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                {% for pid in projects[tag]|keys %}
                                                                        <td width="25%" height="150px" valign="top" style="vertical-align:top;"><div class="e_title"><h6>{{projects[tag][pid].name}} <span class="color-red">Premium</span></h6></div><a href="{{ path('swarminfo_imagescript_edit', {}) }}?id={{projects[tag][pid].id}}"><img class="cast-shadow" alt="Screenshot" src="{{projects[tag][pid].url}}" width="85px"></a> {{projects[tag][pid].images}} Images</td>
                                                                    {% if (pid+1) is divisible by(4) %}
                                                                </tr>
                                                                <tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tr>
                                                        </table>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                            
                            </div>
                            
                    </div>
            </div>
            
    </div>
    
</section>