{% extends "FOSUserBundle::layout.html.twig" %}
{#{% block add_class %} class="logged-in profile-edit"{% endblock %}#}
{#{% block start_class %} <div class="logged-in profile-edit">{% endblock %}#}
    {#{% block end_class %} </div> {% endblock %}#}

{% block add_class %} class="logged-in admin_update_user"{% endblock %}

{% block fos_user_content %}
    {% if message!=NULL %}
        <div class="alert alert-success">
            {{ message}}<br>
        </div>
    {% endif %}

    <form action="{{ path('swarminfo_imagescript_updateuser_from_admin', {}) }}" method="post">
        <h4> Information of   {{user}}  </h4>
        <h4>USER PROFILE</h4>
        <input type="hidden" id="username" name="_id" value={{user.getId}} /><td>
        {#username#}
        <label >Username</label>
        <input type="text" id="username" name="_username" value={{user}} /><td>
        {#email#}
        <label>Email</label>
        <input type="text" id="email" name="_email" value={{ user.getEmail }} /><td>
        {#password#}
        <label>Set Password</label>
        <input type="text" id="userpass" name="_userpass" placeholder="Enter new password" /><td>

        {#Experied date#}
        <label>Experied date</label>
        <input type="date" id="expired" name="_expired" value={{user.getExpire|date("Y-m-d") }} /><td>

        <h4>ACCOUNT DETAILS</h4>
            <div>
                <label for="fos_user_registration_form_title" >Title</label>
                <select id="fos_user_registration_form_title" name="_title" >
                    {% if fieldsreg %}
                        {% for t in title %}
                            <option value="{{ t }}"  {{ t==fieldsreg.getTitle ? ' selected ' }}   >
                                {{ t }}</option>
                        {% endfor %}

                    {% else %}
                        <option value=" "> </option>
                        {% for t in title %}
                            <option value="{{ t }}"  >
                                {{ t }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div>
                <label for="fos_user_registration_form_firstname" class="required">First name</label>
                <input type="text" id="fos_user_registration_form_firstname" name="_firstname"
                        {% if fieldsreg %}  value={{ fieldsreg.getFirstname }}  {% endif %}  >
            </div>

            <div>
                <label for="fos_user_registration_form_lastname" class="required">Last Name</label>
                <input type="text" id="fos_user_registration_form_lastname" name="_lastname"
                        {% if fieldsreg %}  value={{ fieldsreg.getLastname }}    {% endif %}     >
            </div>

            <div>
                <label for="fos_user_registration_form_profession" class="required">Profession </label>
                <select id="fos_user_registration_form_profession" class="required" name="_profession">
                    {% if fieldsreg %}
                        {% for p in professions %}
                            <option value="{{ p }}"    {{ p==fieldsreg.getProfession ? ' selected ' }}     >
                                {{ p }}</option>
                        {% endfor %}
                    {% else %}
                        <option value=" "> </option>
                        {% for p in professions %}
                            <option value="{{ p }}" >  {{ p }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>


            <div>
                <label for="fos_user_registration_form_country" class="required">Country</label>
                <select id="fos_user_registration_form_country" name="_country" >
                    {% if fieldsreg %}
                        {% for key,c in countries %}
                            <option value="{{ key }}"      {{ key==fieldsreg.getCountry ? ' selected ' }}      >
                                {{ c}}</option>
                        {% endfor %}
                    {% else %}
                        <option value=" "> </option>
                        {% for key,c in countries %}
                            <option value="{{ key }}" >{{ c}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div>
                <label for="fos_user_registration_form_addresline1">Address line 1</label>
                <input type="text" id="fos_user_registration_form_addresline1" name="_addresline1"
                        {% if fieldsreg %}      value={{ fieldsreg.getAddressLine1 }}   {% endif %}        >
            </div>

            <div>
                <label for="fos_user_registration_form_addresline2">Address line 2</label>
                <input type="text" id="fos_user_registration_form_addresline2" name="_addresline2"
                        {% if fieldsreg %}  value={{ fieldsreg.getAddressLine2 }}   {% endif %}      >
            </div>

            <div>
                <label for="fos_user_registration_form_city" >City/State</label>
                <input type="text" id="fos_user_registration_form_city" name="_city"
                        {% if fieldsreg %}    value={{ fieldsreg.getCity }}  {% endif %}     >
            </div>

            <div>
                <label for="fos_user_registration_form_phone" >Phone number</label>
                <input type="text" id="fos_user_registration_form_phone" name="_phone" 
                        {% if fieldsreg %}      value={{ fieldsreg.getPhone }}       {% endif %}>
            </div>

            <div>
                <input type="checkbox" name="_receive1"
                        {% if fieldsreg %}
                            {{ fieldsreg.isComPref1==1 ? ' checked ' }}
                        {% endif %}
                > I agree to receive e-mails relating to OMCSA information, services and products.<br>
                <br>
            </div>


            <input type="submit" value="Edit">
            {#delete button#}
            <a style="height: 50px;    line-height: 48px;      background: #f00;    color: #fff;    width: 100%;
                                 font-size: 11px;    text-transform: uppercase;    font-weight: bold;    letter-spacing: 1px;    border-radius: 0 !important;" id="delete_user"
               class="btn-filled btn" onclick="return confirm('Are you sure to delete?')" href="{{ path('swarminfo_imagescript_delete_user_from_admin', {}) }}?id={{ user.getId }}">Delete</a>
    </form>


{% endblock fos_user_content %}
