{% extends "SwarminfoImagescriptBundle::iframe.html.twig" %}

{% block admin %}
    <div class=scriptDiv id=topadminpannel></div>
    <div class=scriptDiv id=mainadminpannel></div>
{% endblock %}                    

{% block scripts %}
    {{ parent() }}
    {{ parent() }}
    {# add javascript for the administration to edit the project #}
    {% javascripts
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadmin.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminimage.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminlegend.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminstructure.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminlanguage.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminseries.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadmingeneral.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescripttrackdownadmin.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptlogadmin.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
{% endblock %}
