{% extends "FOSUserBundle::layout.html.twig" %}
{#{% block add_class %} class="logged-in profile-edit"{% endblock %}#}
{#{% block start_class %} <div class="logged-in profile-edit">{% endblock %}#}
    {#{% block end_class %} </div> {% endblock %}#}

{% block add_class %} class="logged-in admin_create_user"{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('swarminfo_imagescript_create_user_from_admin', {}) }}" method="post">
        {#<h4>Create new User </h4>#}
        <h4>USER PROFILE<small>&nbsp;&nbsp;<b>*</b>&nbsp;&nbsp;Required fields</small></h4>
        {% if message!=NULL %}
            <ui>{{ message}}</ui>
                <br>
        {% endif %}

        {#username#}
        <label >Username</label>
        <input type="text" id="username" name="_username" required="required" /><td>
        {#email#}
        <label>Email </label>
        <input type="text" id="email" name="_email" required="required"/><td>
        {#password#}
        <label>Password </label>
        <input type="text" id="password" name="_userpass" placeholder="Enter password" required="required"/><td>
        <label>Repeat Password </label>
        <input type="text" id="repeat_password" name="_repeatuserpass" placeholder="Repeat Password" required="required"/><td>

        <h4>ACCOUNT DETAILS</h4>
            <div>
                <label for="fos_user_registration_form_title" >Title</label>
                <select id="fos_user_registration_form_title" name="_title" >
                        <option value=" "> </option>
                        {% for t in title %}
                            <option value="{{ t }}"  >
                                {{ t }}</option>
                        {% endfor %}
                </select>
            </div>

            <div>
                <label for="fos_user_registration_form_firstname" class="required">First name *</label>
                <input type="text" id="fos_user_registration_form_firstname" name="_firstname" required="required"/>
            </div>

            <div>
                <label for="fos_user_registration_form_lastname" class="required">Last Name *</label>
                <input type="text" id="fos_user_registration_form_lastname" name="_lastname"  required="required"/>
            </div>

            <div>
                <label for="fos_user_registration_form_profession" class="required">Profession *</label>
                <select id="fos_user_registration_form_profession" required="required" name="_profession">
                        <option value=" "> </option>
                        {% for p in professions %}
                            <option value="{{ p }}" >  {{ p }}</option>
                        {% endfor %}
                </select>
            </div>


            <div>
                <label for="fos_user_registration_form_country" class="required">Country *</label>
                <select id="fos_user_registration_form_country" name="_country" required="required">
                        <option value=" "> </option>
                        {% for key,c in countries %}
                            <option {{ key=='US' ? ' selected=selected ' }} value="{{ key }}"   >{{ c}}</option>
                        {% endfor %}
                </select>
            </div>

            <div>
                <label for="fos_user_registration_form_addresline1">Address line 1</label>
                <input type="text" id="fos_user_registration_form_addresline1" name="_addresline1"/>
            </div>

            <div>
                <label for="fos_user_registration_form_addresline2">Address line 2</label>
                <input type="text" id="fos_user_registration_form_addresline2" name="_addresline2" />
            </div>

            <div>
                <label for="fos_user_registration_form_city" >City/State</label>
                <input type="text" id="fos_user_registration_form_city" name="_city" />
            </div>

            <div>
                <label for="fos_user_registration_form_phone" >Phone number *</label>
                <input type="text" id="fos_user_registration_form_phone" required="required" name="_phone" />
            </div>

            <div>
                <input type="checkbox" name="_receive1"/> I agree to receive e-mails relating to OMCSA information, services and products.<br>
                <br>
            </div>


            <input type="submit" value="Create user">

    </form>

    <script>
        var password = document.getElementById("password")
        var confirm_password = document.getElementById("repeat_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            }
            else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        repeat_password.onkeyup = validatePassword;
    </script>

{% endblock fos_user_content %}
