{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	Connected as {{ app.user.username }}
	-
	<a href="{{ path('fos_user_security_logout') }}">disconnect</a>
{% else %}
	<a href="{{ path('fos_user_security_login') }}">connect</a>
	<a href="{{ path('fos_user_registration_register') }}">register</a> 
{% endif %} 

{% block body %}
{% endblock %}

