{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="logged-in editproject"{% endblock %}
{% block headinfo %}
    {{ parent() }}
    <link href="{{ asset('bundles/swarminfoimagescript/css/adminpannel.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}
<div class="main-container ">
    <section style="width:1170px;margin: 0 auto;padding:0;">
        <div class="container">
            <iframe allowFullScreen="true" frameBorder="0" width="1170px" src=/iframe/{{id}}>
                <!--<div id=imagescriptcontainer webkitAllowFullScreen mozAllowFullScreen allowFullScreen>
                    <div class=scriptDiv id=topuserpannel></div>
                    <div id=middle>
                        <div id=lefttrackdown></div>
                        <div id=rightblock>

                            <div class=scriptDiv id=mainimage></div>
                            <div class=scriptDiv id=bottomband></div>
                            <div class=scriptDiv id=topadminpannel></div>
                            <div class=scriptDiv id=mainadminpannel></div>
                        </div>
                    </div>
                </div>-->
            </iframe>
        </div>
    </section>

    {% endblock %}


    {% block bottomscript %}
    {{ parent() }}
    <!--    {% javascripts
    '@SwarminfoImagescriptBundle/Resources/public/js/jquery.js'
    '@SwarminfoImagescriptBundle/Resources/public/js/jquery.mousewheel.min.js'
    '@SwarminfoImagescriptBundle/Resources/public/js/imagescript.js'
    '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptbottomband.js'
    '@SwarminfoImagescriptBundle/Resources/public/js/imagescripttrackdown.js'
    '@SwarminfoImagescriptBundle/Resources/public/js/jquery.fullscreen-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function(){
            {% if id is null%}
                isl.current = isl.f.createNewObject();
                isl.f.start();
            {% else %}
                isl.f.openProject("{{id}}");
            {% endif %}
            isl.f.resetAll();

            //when a mousescroll happen, capture it and rediret it to the main canvas
            //$("*").on('mousewheel',function(e){
            //    e.preventDefault();
            //    alert("5544545")
            //    });
            //$(window).scroll(function(e) {
            //    e.preventDefault();
            //  });
        })
    </script>-->
    {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
</div>

{% endblock %}