<footer class="footer-2"> <!-- bg-dark -->
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
							<span>
								© Copyright 2016 OMCSA - All Rights Reserved
							</span>
            </div>
        </div>
    </div>
</footer>