<html>
    <head>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/frontpageiframe.js"></script>
        <!--[if lte IE 8]><script type="text/javascript" src="/js/excanvas.js"></script><![endif]-->
        <link href="{{ asset('bundles/swarminfoimagescript/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/themify-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/ytplayer.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/userdata.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        {#<link href="{{ asset('bundles/swarminfoimagescript/css/adminpannel.css') }}" rel="stylesheet" type="text/css" media="all" />#}
        <link href="/css/frontiframe.css" rel="stylesheet">
    </head>
    <body>
        {#<img id="skeleton_img" class="cast-shadow" alt="Screenshot" src="{{ asset('bundles/swarminfoimagescript/img/body_image.jpg') }}">#}
        {#<div id=imagescriptcontainer webkitAllowFullScreen mozAllowFullScreen allowFullScreen>#}
                {#<div class=scriptDiv id=topuserpannel></div>#}
                {#<div id=middle>#}
                    {#<div id=lefttrackdown></div>#}
                    {#<div id=rightblock>#}
                        {##}
                        {#<div class=scriptDiv id=mainimage></div>#}
                        {#<div class=scriptDiv id=bottomband></div>#}
					{#</div>#}
					{#<div id=bottombock>#}
                        {#{% block admin%}#}
                        {##}
                        {#{% endblock %}#}
					{#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

        <!--[if lt IE 10]>
        <canvas id="skeletonCanvas" onclick="on_mousemove_ie();"   width="750" height="1100" ></canvas>
        <![else]-->
        <canvas id="skeletonCanvas"  width="750" height="1100" ></canvas>
        <![endif]-->



    <script>
        $(document).ready(function(){
//            drawcanvas()
            draw()


        })

    </script>


    <!--[if lt IE 10]>

    <script>
        $( "#skeletonCanvas" ).mouseover(function() {
            on_mousemove_ie();
        });

    </script>

    <![endif]-->
    
    {#{% endblock %}#}
    </body>
</html>