<html>
    <head>
        <link href="{{ asset('bundles/swarminfoimagescript/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/themify-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/ytplayer.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/userdata.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/contrast.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/flipswitch.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/swarminfoimagescript/css/adminpannel.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/iframe_popup.css') }}" rel="stylesheet" type="text/css" media="all" />
        {#<script type="text/javascript" src="{{ asset('bundles/swarminfoimagescript/js/jquery.min.js') }}"></script>#}
        {#<script type="text/javascript" src="{{ asset('bundles/swarminfoimagescript/js/contrast_and_brigthness.js') }}"></script>#}
    </head>
    <body>
        <div id=imagescriptcontainer webkitAllowFullScreen mozAllowFullScreen allowFullScreen>
                <div class=scriptDiv id=topuserpannel></div>
                <div id=middle>
                    <div id=lefttrackdown></div>
                    <div id=rightblock>
                        
                        <div class=scriptDiv id=mainimage></div>
                        <div class=scriptDiv id=bottomband></div>
					</div>
					<div id=bottombock>
                        {% block admin%}
                        
                        {% endblock %}
					</div>
                    </div>
                </div>
            </div>
        
        
    {% block scripts %}
        {% javascripts
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.mousewheel.min.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescript.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptbottomband.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescripttrackdown.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.fullscreen-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        $(document).ready(function(){
            {% if id is null%}
                isl.current = isl.f.createNewObject();
                isl.f.start();
            {% else %}
                isl.f.openProject("{{id}}"); 
            {% endif %}
            isl.f.resetAll();
            
            //when a mousescroll happen, capture it and rediret it to the main canvas
            //$("*").on('mousewheel',function(e){
            //    e.preventDefault();
            //    alert("5544545")
            //    });
            //$(window).scroll(function(e) {
            //    e.preventDefault();
            //  });
        })
    </script>
    
    {% endblock %}
    </body>
</html>