<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>

    {% javascripts
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.mousewheel.min.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescript.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptbottomband.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadmin.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminimage.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminlegend.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminstructure.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminlanguage.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadminseries.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptadmingeneral.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        $(document).ready(function(){
            {% if id is null%}
                isl.current = isl.f.createNewObject();
                isl.f.start();
            {% else %}
                isl.f.openProject("{{id}}"); 
            {% endif %}
            isl.f.resetAll();
            $("body").prepend("<a href='?id="+isl.f.generateId()+"'> create a new project</a>");
        })
    </script>
    <style>
        .scriptDiv{
            margin-bottom : 10px;
        }
        
        #topadminpannel, #mainadminpannel{
            background-color : #eeeeee;    
        }
        
         select{
            width : 15% !important;
        }
    </style>
</head>

<body>
    <div id=imagescriptcontainer>
        <div class=scriptDiv id=topuserpannel></div>
        <div class=scriptDiv id=mainimage></div>
        <div class=scriptDiv id=bottomband></div>
        <div class=scriptDiv id=topadminpannel></div>
        <div class=scriptDiv id=mainadminpannel></div>
    </div>


</body>
</html>
