{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}

{% block body %}
<div>
    <section style="text-align:center;">
        {{ message }}
        <br>
        <a class="btn-filled btn" style="margin-top: 20px;" href="{{ path('swarminfo_imagescript_homepage', {}) }}">Back to home</a>
    </section>

</div>


{% endblock %}