{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="logged-in orderview"{% endblock %}
{% block body %}
    <div class="main-container orderhistory">
				<section>
			<div class="container">
        <div> <h4 style="font-weight:bold;">Order Date: {{ order.getPendingdate|date('d/m/Y') }}</h4></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    {#PRODUCT ITEMS#}
                    <div> <h4>Product name:
                            {% if app.request.query.get("plan")  == paypalplan or paypalprice==order.getTotalexvat  %}
                                Plan A ${{ paypalprice }} - Only {{ paypalplan }} device use limited
                                {#{% set product_name={{ paypalplan }} %}#}
                            {% elseif app.request.query.get("plan") == paypalplan_2  or paypalprice_2==order.getTotalexvat  %}
                                Plan B ${{ paypalprice_2 }} - Only {{ paypalplan_2 }} device use limited
                                {#{% set product_name=Plan B ${{ paypalprice_2 }} - Only {{ paypalplan_2 }} device use limited %}#}
                            {% elseif app.request.query.get("plan") == paypalplan_3 %}
                                Plan C ${{ paypalprice_3 }} - Unlimited device use
                                {#{% set product_name=Plan C ${{ paypalprice_3 }} - Unlimited device use %}#}
                            {% endif %}
                        </h4></div>

                    {#ORDER SUMMARY:#}
                    {#<div> <h4>Order summary:</h4></div>#}
                    <div style="font-weight:bold;"> Order summary:</div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>Summary:<td>Total price ex. VAT<td>Total price inc. VAT
                        </tr>
                        <tr>
                            <td>Subtotal of items:<td> $ {{ order.getTotalexvat }}<td> $ {{ order.getTotalinvat }}
                        </tr>
                        <td>Order total<td> $ {{ order.getTotalexvat }}<td> $ {{ order.getTotalinvat }}
                    </table>

                    {#Order history:#}
                    {#<div> <h5>Order history:</h5></div>#}
                    <div style="font-weight:bold;">Order history:</div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>Date<td>Order status
                        </tr>
                        {% if order.getPendingdate %}
                            <tr>
                                <td>{{ order.getPendingdate|date('d/m/Y H:m:s') }}<td>Pending
                            </tr>
                        {% endif %}
                        {% if  order.getComletedgdate%}
                            <tr>
                                <td>{{ order.getComletedgdate|date('d/m/Y H:m:s') }}<td>Completed
                            </tr>
                        {% endif %}
                    </table>

                    {#order status#}
                    <div style="font-weight:bold;">Order status:
                        {% if  order.getComletedgdate%}
                            Completed
                        {% elseif order.getComletedgdate%}
                            Pending
                        {% endif %}
                    </div> <br>
            </tr>




        </table>
			</div>
		<section>
        {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>

{% endblock %}