<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>S-Anatomy</title>

</head>
<body>
<div class="main-container orderhistory">
    <h2> OMCSA</h2>
     <h4>User {{ user.getUsername }};   date {{ "now"|date("m/d/Y") }}  </h4>
    <div > <h2>Order Date: {{ order.getPendingdate|date('d/m/Y') }}</h2><br/></div>
    <table width="100%" border="1" cellpadding="0" cellspacing="0" >
        <tr>
            <td>
                {#PRODUCT ITEMS#}
                <div style="margin-left:10px"> <h4>Product name:
                        {% if app.request.query.get("plan")  == paypalplan or paypalprice==order.getTotalexvat %}
                            Plan A ${{ paypalprice }} - Only {{ paypalplan }} device use limited
                            {#{% set product_name={{ paypalplan }} %}#}
                        {% elseif app.request.query.get("plan") == paypalplan_2 or paypalprice_2==order.getTotalexvat %}
                            Plan B ${{ paypalprice_2 }} - Only {{ paypalplan_2 }} device use limited
                            {#{% set product_name=Plan B ${{ paypalprice_2 }} - Only {{ paypalplan_2 }} device use limited %}#}
                        {% elseif app.request.query.get("plan") == paypalplan_3 %}
                            Plan C ${{ paypalprice_3 }} - Unlimited device use
                            {#{% set product_name=Plan C ${{ paypalprice_3 }} - Unlimited device use %}#}
                        {% endif %}
                    </h4></div>

                {#ORDER SUMMARY:#}
               <div style="margin-left:10px"> Order summary:</div>
                <br>
                <table width="80%" border="1" cellpadding="0" cellspacing="0" style="margin-left: 10px">
                    <tr>
                        <td>Summary:<td>Total price ex. VAT<td>Total price inc. VAT
                    </tr>
                    <tr>
                        <td>Subtotal of items:<td>$ {{ order.getTotalexvat }}<td>$ {{ order.getTotalinvat }}
                    </tr>
                    <td>Order total<td>$ {{ order.getTotalexvat }}<td>$ {{ order.getTotalinvat }}
                </table>

                <br>
                {#Order history:#}
                <div style="margin-left:10px">Order history:</div>
                <br>
                <table width="80%" border="1" cellpadding="0" cellspacing="0" style="margin-left: 10px">
                    <tr>
                        <td>Date<td>Order status
                    </tr>
                        {% if order.getPendingdate %}
                               <tr>
                                        <td>{{ order.getPendingdate|date('d/m/Y H:m:s') }}<td>Pending
                                        </tr>
                            {% endif %}
                       {% if  order.getComletedgdate%}
                                <tr>
                                        <td>{{ order.getComletedgdate|date('d/m/Y H:m:s') }}<td>Completed
                                       </tr>
                           {% endif %}
                </table>
                <br>
                {#order status#}
                <div style="margin-left:100px">Order status:
                    {% if  order.getComletedgdate%}
                        Completed
                    {% elseif order.getComletedgdate%}
                        Pending
                    {% endif %}
                </div> <br>
        </tr>

        <br>
    </table>
    <br>
    {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
</div>
</body>
</html>
				