{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block add_class %} class="logged-in orderhistory"{% endblock %}
{% block body %}
    <div class="main-container orderhistory">
		<section>
			<div class="container">
        <div> <h3>{{ 'orderlist.title'|trans }}</h3><br/></div>
        <table border="0" cellpadding="0" cellspacing="0">

                <tr>
                    <td align="center">{{ 'orderlist.id'|trans }}<td  align="center">{{ 'orderlist.productname'|trans }}
                    <td align="center">{{ 'orderlist.date'|trans }}<td align="center">{{ 'orderlist.totexvat'|trans }}
                        <td align="center">{{ 'orderlist.totincvat'|trans }}<td align="center">{{ 'orderlist.order'|trans }}
                    <td align="center">{{ 'orderlist.invoice'|trans }}</td>

                </tr>
            {% if data %}
                {% for var in data%}
                        <tr>
                            <td align="center">{{ var.getId }}<td align="center">
                            {#{% set product_name=-1 %}#}

                            {{ 'subscribe.membership'| trans}}

                            {#{% if  var.getplan == paypalplan or paypalprice==var.getTotalexvat %}#}
                                {#{{ 'subscribe.plan'|trans }} A ${{ paypalprice }} - {{ 'subscribe.only'|trans }} {{ paypalplan }} {{ 'subscribe.userlimited'|trans }}#}
                            {#{% elseif var.getplan == paypalplan_2 or paypalprice_2==var.getTotalexvat %}#}
                                {#{{ 'subscribe.plan'|trans }} B ${{ paypalprice_2 }} - {{ 'subscribe.only'|trans }} {{ paypalplan_2 }} {{ 'subscribe.userlimited'|trans }}#}
                            {#{% elseif var.getplan == paypalplan_3  and var.getplan %}#}
                                {#{{ 'subscribe.plan'|trans }} C ${{ paypalprice_3 }} - {{ 'subscribe.unlimited'|trans }}#}
                            {#{% endif %}#}

                            <td align="center">
                            {{ var.getPaydate|date('d - m -Y') }}<td align="center">
                            $ {{ var.getTotalexvat }}<td align="center">
                            $ {{ var.getTotalinvat }}<td align="center">
                            <a  href="{{ path('swarminfo_imagescript_orderview', {}) }}?id={{ var.getId }}&plan={{ var.getplan }}">View</a><td align="center">
                            <a  href="{{ path('swarminfo_imagescript_orderprint', {}) }}?id={{ var.getId }}&plan={{ var.getplan }}">Print</a>
                        </tr>
                {%endfor%}
            {% endif %}
        </table>
			</div>
	<section>	
        {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>

{% endblock %}