{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block add_class %} class="{% if user!='anon.' %}logged-in {% endif %}anatomy front-page"{% endblock %}
{% block headinfo %}

    <script src="/js/jquery.min.js"></script>


    <![if !IE]>
    <link href="/css/page2.css" rel="stylesheet">
    <![endif]>

    <!--[if lt IE 10]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link href="/css/page2_ie8.css" rel="stylesheet" type="text/css"/>

    <![endif]-->

    <!--[if gt IE 9]>
    <link href="/css/page2.css" rel="stylesheet">
    <script>
        var ie9 = true;
    </script>

    <![endif]-->

    <script src="/js/page2.js"></script>

    {#<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    {#<link rel="stylesheet" href="/resources/demos/style.css">#}



{% endblock %}

{% block body %}
    <div class="main-container">
<section>
    <div class="container">
            <div class="row">
                    <div class="col-md-16 col-sm-12 text-left">
                            <h2 class="uppercase">{{ 'mainpage.title1'|trans }}</h2>
							<span class="txtname">{{ 'mainpage.txtname'|trans }} </span> <span class="txtnametitle">{{ 'mainpage.txtnametitle'|trans }} </span><br/>
                            <h3>{{ 'mainpage.title2'|trans }}</h3>
                            <p>
                                    <b>{{ 'mainpage.welcome'|trans }}</b>
                            </p>
                            <p>
                                {{ 'mainpage.text1'|trans }}<br/>
                                {{ 'mainpage.text2'|trans }}
                            <!-- For accessing all the labellings and the complete module list, simply subscribe to a license. --><br/>
                            </p>
                            <div class="searchfiled">

                                {#<form action="{{ path('swarminfo_imagescript_page2', {}) }}" method="post">#}
                                    {#<input class="search" name="search" id="search_legend" type="text" placeholder="search anatomy"#}
                                    {#{% if search %}#}
                                        {#value="{{ search }}"#}
                                    {#{% endif %}#}
                                    {#>#}

                                    {#<div id="legendSearchDiv" style="z-index: 999; position: absolute;width:280px;height:500[x];max-height:300px;">#}
                                        {#<a href="#" class="legendSearchChoice" lid="FIRST">FIRST</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="Third">Third</a>#}
                                        {#<br></div>#}

                                    {#<input class="btnsearch" type="submit" value="Search">#}
                                {#</form>#}

                                <input class="search" name="search" id="search_legend" type="text" placeholder="search anatomy"
                                        {% if search %}
                                            value="{{ search }}"
                                        {% endif %}
                                >

                                <div id="clear-input">X</div>

                                <div id="legendSearchDiv" >
                                    {#<a href="#" class="legendSearchChoice" lid="FIRST">FIRST</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="second">second</a><br><a href="#" class="legendSearchChoice" lid="Third">Third</a>#}
                                    <br></div>

                            </div>
                            <div class="tabbed-content text-tabs" {% if search %} style="display: block" {% endif %}>
                                    <ul class="tabs">
                                        {% for tag in projects|keys%}
                                            {% if not search %}
                                                <li class="active">

                                                <div class="tab-title">
                                                        <span>
                                                            {% if tag=='head' %}
                                                                {{ 'mainpage.taghead'|trans }}
                                                            {% elseif tag=='TEST' %}
                                                                {{ 'mainpage.tagtest'|trans }}
                                                            {% elseif tag=='lower limb' %}
                                                                {{ 'mainpage.taglowerlimb'|trans }}
                                                            {% elseif tag=='Upper limb' %}
                                                                {{ 'mainpage.tagupperlimb'|trans }}
                                                            {% elseif tag=='neck & lower face' %}
                                                                {{ 'mainpage.tagnecklowerface'|trans }}
                                                            {% else %}
                                                                {{tag}}
                                                            {% endif %}
                                                        </span>
                                                </div>
                                            {% endif %}
                                                <div class="tab-content">
                                                    <!--            
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                {% for pid in projects[tag]|keys %}
                                                                        <td width="25%" height="150px" valign="top" style="vertical-align:top;">
                                                                            <div class="e_title">
                                                                                <h6>
                                                                                    {{projects[tag][pid].name}}

                                                                                    {% if not projects[tag][pid].free %} <span class="color-red">{{ 'mainpage.premium'|trans }}</span> {% else %} <span class="color-green" style='color:green'>{{ 'mainpage.free'|trans }}</span> {% endif %}
                                                                                </h6>
                                                                            </div>
                                                                            <a href="{{ path('swarminfo_imagescript_main', {}) }}?id={{projects[tag][pid].id}}">
                                                                                <img class="cast-shadow" alt="Screenshot" src="{{projects[tag][pid].url}}" width="85px">
                                                                            </a>
                                                                            {{projects[tag][pid].images}} Images</td>
                                                                    {% if (pid+1) is divisible by(4) %}
                                                                </tr>
                                                                <tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tr>
                                                        </table>
													-->
													
													
													<div class="list-thumbZone">
														{% for pid in projects[tag]|keys  if projects[tag][pid].isshow  %}
															<div id="thumbZone" class="thumbZone">
																<div class="e_title">
																	<h6>
																		{{projects[tag][pid].name}}
																	</h6>
																</div>
																<a href="{{ path('swarminfo_imagescript_main', {}) }}?id={{projects[tag][pid].id}}&search={{ search|replace({' ': "_"}) }}">
																	<img class="cast-shadow" alt="Screenshot" src="{{projects[tag][pid].url}}">
																</a>
																<div class="thumbBottom">
																	<div>
																	{% if not projects[tag][pid].free %} <span class="color-red">{{ 'mainpage.premium'|trans }}</span> {% else %} <span class="color-green" style='color:green'>{{ 'mainpage.free'|trans }}</span> {% endif %}
																	</div>
																	<div>
																	{{projects[tag][pid].images}} Images
																	</div>
																</div>
															</div>
															{% if (pid+1) is divisible by(4) %}
																{% endif %}
															{% endfor %}
													</div>
													
                                                </div>
                                            {% if not search %}
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                    </ul>
                                            
                            </div>

                    </div>
            </div>

        <div class="row">
            <div class="container" >
                <div class="slide-right">
                    <div class="row ">
                        <div class="col-md-8">
                            {#<img class="cast-shadow" alt="Screenshot" src="{{ asset('bundles/swarminfoimagescript/img/body_image.jpg') }}">#}

                            <iframe id="skeleton" frameBorder="0" width="1170px" src=/frontpageiframe>
                                <!--<div id=imagescriptcontainer webkitAllowFullScreen mozAllowFullScreen allowFullScreen>
                                    <div class=scriptDiv id=topuserpannel></div>
                                    <div id=middle>
                                        <div id=lefttrackdown></div>
                                        <div id=rightblock>

                                            <div class=scriptDiv id=mainimage></div>
                                            <div class=scriptDiv id=bottomband></div>
                                            <div class=scriptDiv id=topadminpannel></div>
                                            <div class=scriptDiv id=mainadminpannel></div>
                                        </div>
                                    </div>
                                </div>-->
                            </iframe>
                        </div>
                        <div class="col-md-4 image-slider">
                            {% for tag in projects|keys %}
                                <div class="right_slide">
                                    {% for pid in projects[tag]|keys if  projects[tag][pid].onfront and projects[tag][pid].free  %}
                                            <div class="thumbZone_right">
                                                <div class="e_title">
                                                    <h8>
                                                        {{projects[tag][pid].name}}
                                                    </h8>
                                                </div>
                                                <a href="{{ path('swarminfo_imagescript_main', {}) }}?id={{projects[tag][pid].id}}">
                                                    <img class="cast-shadow_right" alt="Screenshot" src="{{projects[tag][pid].url}}">
                                                </a>

                                            </div>
                                        {% if (pid+1) is divisible by(4) %}
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>


</section>
        {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>

    <script>

    </script>

{% endblock %}
