{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="subscribe"{% endblock %}
{% block body %}
        <div class="main-container">
<section>
    <div class="container">
            <div class="row v-align-children">
                    <div class="col-sm-5">
                            <h3>S-Anatomy is the most comprehensive interactive atlas of human anatomy</h3>
                            <p class="lead mb40">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                            <div class="overflow-hidden mb32 mb-xs-24">
                                    <i class="ti-package icon icon-sm pull-left"></i>
                                    <h6 class="uppercase mb0 inline-block p32">All Inclusive Package</h6>
                            </div>
                            <div class="overflow-hidden mb32 mb-xs-24">
                                    <i class="ti-medall-alt icon icon-sm pull-left"></i>
                                    <h6 class="uppercase mb0 inline-block p32">Club Access</h6>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">Admit One</h5>
                                    <span class="price">${{paypalprice}}/mo</span>
                                    <p class="lead">Premium</p>
                                    <a class="btn btn-white btn-lg" href="{{ path('fos_user_registration_register', {}) }}">Subscribe Now</a>
                                    <p>
											<a href="mailto:kendrho@gmail.com">Contact Us</a>
                                    </p>
                            </div>
                            
                    </div>
            </div>
            
    </div>

    
</section>
                {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
        </div>

{% endblock %}