{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block add_class %} class="{% if user!='anon.' %}logged-in {% endif %}subscribe"{% endblock %}
{% block body %}
        <div class="main-container">

<section>
    <div class="container">
            <div class="row v-align-children">
                    {#<div class="col-sm-5">#}
                    <div class="col-xs-9 txtSubscribe">
                            <h3>{{ 'mainpage.title1'|trans }}</h3>
                            <p class="lead mb40">
                                    {{ 'subscribe.title1'|trans }}
                            </p>
							<!--
                            <div class="overflow-hidden mb32 mb-xs-24">
                                    <i class="ti-package icon icon-sm pull-left"></i>
                                    <h6 class="uppercase mb0 inline-block p32">{{ 'subscribe.title2'|trans }}</h6>
                            </div>
                            <div class="overflow-hidden mb32 mb-xs-24">
                                    <i class="ti-medall-alt icon icon-sm pull-left"></i>
                                    <
							-->
                    </div>
                    {#<div class="col-md-4 col-sm-6">#}
                            {#<div class="pricing-table pt-1 text-center emphasis">#}
                                    {#<h5 class="uppercase">Admit One</h5>#}
                                    {#<span class="price">${{paypalprice}}/mo</span>#}
                                    {#<p class="lead">Premium</p>#}
                                    {#<a class="btn btn-white btn-lg" href="{{ path('fos_user_registration_register', {}) }}">Subscribe Now</a>#}
                                    {#<p>#}
											{#<a href="mailto:kendrho@gmail.com">Contact Us</a>#}
                                    {#</p>#}
                            {#</div>#}

                    {#</div>#}
            </div>
			<div class="row v-align-children">
            <div class="col-xs-9" style="text-align:center;">
				<div id="pricetag_zone">
                    {#--------- 1 -------#}
                    <div class="pricetag">
						<a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {'plan': 'A', 'amount':paypalprice,"currency":"USD","curlang":"en" }) }}">
								<div class="pricing-table pt-1 text-center emphasis">
										<h5 class="uppercase">{{ 'subscribe.plan'|trans }} A</h5>
										<span class="price">${{paypalprice}}/year</span>
										<p class="lead">{{ 'subscribe.silver'|trans }}</p>
										<p>{{ 'subscribe.only'|trans }} 1 {{ 'subscribe.userlimited'|trans }}</p>
										{{ 'subscribe.subscribenow'|trans }}
									  <!--		<a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_page5', {}) }}">{{ 'subscribe.subscribenow'|trans }}</a> -->
								</div>
						</a>
                    </div>
                    {#--------- 2 -------#}
                    <div class="pricetag">
						<a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {'plan': 'B','amount':paypalprice_2,"currency":"USD","curlang":"en"  }) }}">
								<div class="pricing-table pt-1 text-center emphasis">
										<h5 class="uppercase">{{ 'subscribe.plan'|trans }} B</h5>
										<span class="price">${{paypalprice_2}}/year</span>
										<p class="lead">{{ 'mainpage.premium'|trans }}</p>
										<p>{{ 'subscribe.only'|trans }} 3 {{ 'subscribe.userlimited'|trans }}</p>
										{{ 'subscribe.subscribenow'|trans }}
									<!-- 	<a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_page5', {}) }}">{{ 'subscribe.subscribenow'|trans }}</a> -->
								</div>
						</a>
                    </div>
                    {#--------  3 --------#}
                    <div class="pricetag">
						<a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {'plan': 'C', 'amount':paypalprice_3,"currency":"USD","curlang":"en" }) }}">
								<div class="pricing-table pt-1 text-center emphasis">
										<h5 class="uppercase">{{ 'subscribe.plan'|trans }} C</h5>
										<span class="price">${{paypalprice_3}}/year</span>
										<p class="lead">{{ 'subscribe.gold'|trans }}</p>
										<p>{{ 'subscribe.unlimited'|trans }}</p>
										{{ 'subscribe.subscribenow'|trans }}
									 <!--   <a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_page5', {}) }}">{{ 'subscribe.subscribenow'|trans }}</a> -->
								</div>
						</a>
                    </div>
				</div>

                {#subscribe additional language#}
                {% if ispremium and curlang!='en'%}
                    {#------Plan A--------#}
                    <div class="pricetag">
                        <a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {'plan': 'A','amount':amounts[0], "currency":currency,"curlang":curlang }) }}">
                            {{ language }} -{{ currency }} {{ amounts[0] }}
                        </a>
                    </div>
                    {#------Plan B -------#}
                    <div class="pricetag">
                        <a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {'plan': 'B','amount':amounts[1], "currency":currency,"curlang":curlang }) }}">
                            {{ language }} -{{ currency }} {{ amounts[1] }}
                        </a>
                    </div>
                    {#------Plan C -------#}
                    <div class="pricetag">
                        <a class="btn btn-white btn-lg" href="{{ path('swarminfo_imagescript_paypalgetpremium', {'plan': 'C','amount':amounts[2], "currency":currency,"curlang":curlang }) }}">
                            {{ language }} -{{ currency }} {{ amounts[2] }}
                        </a>
                    </div>
                {% endif %}
				
				<div id="txtPlan_zone">
					<div class="txtPlan">
						<b>Plan A</b> entitles one user with one password to log-in to OMCSA website to enjoy all subscribed members' functions.  Once logged in, OMCSA will refuse the same user to log-in to OMCSA again at the same time.   If member wants to log-in by using another computer or another window/tab, please log out from the active OMCSA page.
					</div>
					
					<div class="txtPlan">
						<b>Plan B</b> entitles two users with  two passwords respectively, to log-in to OMCSA website to enjoy all subscribed members' functions.  Once logged in, OMCSA will refuse the same user to log-in to OMCSA again at the same time.   If member wants to log-in by using another computer or another window/tab, please log out from the active OMCSA page.
					</div>

					<div class="txtPlan">
						<b>Plan C</b> entitles ten users with ten passwords respectively, to log-in to OMCSA website to enjoy all subscribed members' functions.  Once logged in, OMCSA will refuse the same user to log-in to OMCSA again at the same time.   If member wants to log-in by using another computer or another window/tab, please log out from the active OMCSA page.
					</div>

                    {#description#}
				</div>
			
		</div>
		</div>
    </div>

    
</section>
                {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
        </div>

{% endblock %}