{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="{% if user!='anon.' %}logged-in {% endif %}project"{% endblock %}
{% block headinfo %}
    {{ parent() }}
    <link href="{{ asset('bundles/swarminfoimagescript/css/adminpannel.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/swarminfoimagescript/css/page4.css') }}" rel="stylesheet" type="text/css" media="all" />
    <script src="/js/jquery.min.js"></script>
    <script src="{{ asset('bundles/swarminfoimagescript/js/page4.js') }}"></script>

{% endblock %}

{% block body %}
<div class="main-container ">
    {% if true or isshow %}
        <div id='btscroll'>
            <button class="btscroll_move" onclick="window.scrollTo(0, 0);"><img src="{{ asset('bundles/swarminfoimagescript/img/arrow_up.png') }}"></button>
            <button id='btToBottom' class="btscroll_move"><img id='btToBottom_img' alt="0" src="{{ asset('bundles/swarminfoimagescript/img/arrow_down.png') }}"></button>
        </div>
        <section style="width:1240px;margin: 0 auto;padding:0;">
            <div class="container">
                <iframe id='maincanvasframe' allowFullScreen="true" frameBorder="0" width="1240px" height="1500px" src=/iframe/{{id}}?search={{ search }}>
                    <!--<div id=imagescriptcontainer webkitAllowFullScreen mozAllowFullScreen allowFullScreen>
                        <div class=scriptDiv id=topuserpannel></div>
                        <div id=middle>
                            <div id=lefttrackdown></div>
                            <div id=rightblock>

                                <div class=scriptDiv id=mainimage></div>
                                <div class=scriptDiv id=bottomband></div>
                                <div class=scriptDiv id=topadminpannel></div>
                                <div class=scriptDiv id=mainadminpannel></div>
                            </div>
                        </div>
                    </div>-->
                </iframe>
            </div>
        </section>

    {% else %}
        <div class="alert alert-success">
            You should subscribe to the language<br>
        </div>
    {% endif %}

{% endblock %}


{% block bottomscript %}
    {{ parent() }}
<!--    {% javascripts
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.mousewheel.min.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescript.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescriptbottomband.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/imagescripttrackdown.js'
        '@SwarminfoImagescriptBundle/Resources/public/js/jquery.fullscreen-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        $(document).ready(function(){
            {% if id is null%}
                isl.current = isl.f.createNewObject();
                isl.f.start();
            {% else %}
                isl.f.openProject("{{id}}"); 
            {% endif %}
            isl.f.resetAll();
            
            //when a mousescroll happen, capture it and rediret it to the main canvas
            //$("*").on('mousewheel',function(e){
            //    e.preventDefault();
            //    alert("5544545")
            //    });
            //$(window).scroll(function(e) {
            //    e.preventDefault();
            //  });
        })
    </script>-->
    {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>
    
{% endblock %}