{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="front-page"{% endblock %}
{% block body %}
	<div class="main-container">
		
		
			<section class="image-bg overlay pt240 pb140 pt-xs-180 pb-xs-180">
				<div class="background-image-holder">
					<img alt="image" class="background-image" src="{{ asset('bundles/swarminfoimagescript/img/fitness3.jpg') }}">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6" style="width:100%;">
							<h2 class="mb0 bold uppercase italic">Online MRI/CT Sectional Anatomy</h2>
							<br/><br/>
							<h5 class="uppercase mb32">Health Monitoring</h5>
							<p class="lead mb0">
								“Everyone deserves good health and happiness.<br class="hidden-sm">My goal is to help people achieve both.”
							</p>
						</div>
					</div>
					
				</div>
				
			</section>
		
		
			
			<section>
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-5 col-sm-6 text-center mb-xs-24">
							<a class="btn-filled btn" href="{{ path('swarminfo_imagescript_page2', {}) }}">Explore Anatomy</a>
							<a href="{{ path('swarminfo_imagescript_page2', {}) }}"><img class="cast-shadow" alt="Screenshot" src="{{ asset('bundles/swarminfoimagescript/img/skeleton.jpg') }}"></a> <!-- screenshot-Online MRI/CT Sectional Anatomy.jpg -->
						</div>
						
						
						
						<!--
						
						<div class="col-md-8 col-md-offset-1 col-sm-5 col-sm-offset-1">
							<a href="{{ path('swarminfo_imagescript_page2', {}) }}"><h3>Online MRI/CT Sectional Anatomy</h3></a>
							<p>									
								<b>Online MRI/CT Sectional Anatomy, the interactive atlas of human anatomy</b>
							</p>
							<p>				
								Online MRI/CT Sectional Anatomy is an award-winning interactive atlas of human anatomy. It is the most complete reference of human anatomy available on web, iPad, iPhone and android devices. Explore over 5400 anatomic structures and more than 375 000 translated medical labels. Images in: CT, MRI, Radiographs, Anatomic diagrams and nuclear images.
							</p>
							<p>
								"The most popular radiology application in this study was Online MRI/CT Sectional Anatomy, a subscription service that replaces traditional cross-sectional anatomy atlases with scrollable, annotated, cross-sectional images. This application is particularly useful during the interpretation of radiologic, examinations requiring the identification of specific anatomic structures not commonly encountered, such as in musculoskeletal radiology"
							</p>
							<p>
								<b>Journal of the American College of Radiology.</b>
							</p>
								Reprinted with express permission of ACR Press and the Journal of the American College of Radiology.
								Copyright 2013. American College of Radiology. All rights reserved. 
							</p>
							<a class="btn-filled btn" href="{{ path('swarminfo_imagescript_page2', {}) }}">Explore Anatomy</a>
						</div>
						
						-->
						
					</div>
					
				</div>
				
			</section>
			
			<hr style="width:100%;margin:0 auto;"></hr>
			
			<section style="background:#f7f7f7;">
				<div class="container">
					<div class="row mb64 mb-xs-24">
						<div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
							<h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium sed ut perspiciatis.</h3>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6 text-center">
							<div class="feature">
								<div class="text-center">
									<i class="ti-layout-grid2 icon-lg mb40 mb-xs-24 inline-block color-primary"></i>
									<h5 class="uppercase">Sed ut perspiciatis unde</h5>
								</div>
								<p>
									Sed ut perspiciatis unde omnis iste natus
									<br class="hidden-sm"> Sed ut perspiciatis unde omnis iste natus error sit
									<br class="hidden-sm"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
								</p>
							</div>
							
						</div>
						<div class="col-sm-6 text-center">
							<div class="feature">
								<div class="text-center">
									<i class="ti-heart icon-lg mb40 mb-xs-24 inline-block color-primary"></i>
									<h5 class="uppercase">Sed ut perspiciatis unde</h5>
								</div>
								<p>
									Sed ut perspiciatis unde omnis iste natus
									<br class="hidden-sm"> Sed ut perspiciatis unde omnis iste natus error sit
									<br class="hidden-sm"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
								</p>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</section>
		<!--<footer class="footer-2">
			<div class="container">
				<div class="row">

					<div class="col-sm-4">
							<span>
								© Copyright 2016 OMCSA - All Rights Reserved
							</span>
					</div>
				</div>
			</div>
		</footer> -->
		{% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
	</div>
                        
{% endblock %}