{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block add_class %} class="{% if user!='anon.' %}logged-in {% endif %}anatomy"{% endblock %}
{% block headinfo %}
    <script src="/js/jquery.min.js"></script>
    <link href="/css/page2.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main-container">
<section>
    <div class="container">
            <div class="row">
                    <div class="col-md-16 col-sm-12 text-left">
                            <h2 class="uppercase">{{ 'mainpage.title1'|trans }}</h2><br/>
                            <h3>{{ 'mainpage.title2'|trans }}</h3><br/><br/><br/>
                            <p>
                                    <b>{{ 'mainpage.welcome'|trans }}</b>
                            </p>
                            <p>
                                {{ 'mainpage.text1'|trans }}<br/>
                                {{ 'mainpage.text2'|trans }}
                            <!-- For accessing all the labellings and the complete module list, simply subscribe to a license. --><br/><br/><br/><br/>
                            </p>

                            <div class="tabbed-content text-tabs">
                                    <ul class="tabs">
                                        {% for tag in projects|keys%}
                                                {#<li class="active">#}

													<div>
														{% for pid in projects[tag]|keys  if projects[tag][pid].isshow  %}
															<div id="thumbZone">
																<div class="e_title">
																	<h6>
																		{{projects[tag][pid].name}}
																	</h6>
																</div>
																<a href="{{ path('swarminfo_imagescript_main', {}) }}?id={{projects[tag][pid].id}}">
																	<img class="cast-shadow" alt="Screenshot" src="{{projects[tag][pid].url}}" width="120px">
																</a>
																<div class="thumbBottom">
																	<div>
																	{% if not projects[tag][pid].free %} <span class="color-red">{{ 'mainpage.premium'|trans }}</span> {% else %} <span class="color-green" style='color:green'>{{ 'mainpage.free'|trans }}</span> {% endif %}
																	</div>
																	<div>
																	{{projects[tag][pid].images}} Images
																	</div>
																</div>
															</div>
															{% if (pid+1) is divisible by(4) %}
																{% endif %}
															{% endfor %}
													</div>
													
                                                {#</div>#}
                                            {#{% if not search %}#}
                                                {#</li>#}
                                            {#{% endif %}#}

                                        {% endfor %}
                                    </ul>
                                            
                            </div>

                    </div>
            </div>
            
    </div>


</section>
        {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>
    
{% endblock %}
