{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="logged-in usermemberlist"{% endblock %}
{% block headinfo %}
    <script src="/js/jquery.min.js"></script>
    <link href="/css/promo.css" rel="stylesheet">
    <script type="text/javascript" src="/js/promo.js"></script>
{% endblock %}
{% block body %}
    <div class="main-container promo">
			<section>
        <div class="container">
            {% if message!=NULL %}
                <div class="alert   alert-success">
                    {{ message}}<br>
                </div>
            {% endif %}

         <h3 class="promohead">Promo Code</h3>

        <form action="{{ path('swarminfo_imagescript_promocode', {}) }}" method="post">
            <div >
                <div class="box">
                    <div class="promo-field">
                        <label for="promo_form_prefix">Prefix *</label>
                        <input type="text" id="promo_form_prefix" name="_prefix" required>
                    </div>

                    <div class="promo-field">
                        <label for="promo_form_number_of_code">Number of Code *</label>
                        <input type="number" id="promo_form_number_of_code" name="_number_of_code" style="width: 100px" required>
                    </div>

                    <div class="promo-field unlimited" style="margin-left: 100px;">
                        <input type="checkbox"  name="_unlimited" id="_unlimited">Unlimited
                    </div>
                    <br>
                    <div class="promo-field from_date">
                        <label for="promo_form_from_date">Until Date *</label>
                        <input type="date"  id="promo_form_from_date" name="_from_date" required>
                    </div>

                    <div class="promo-field experied_date">
                        <label for="promo_form_experied_date">Experied Date *</label>
                        <input type="date"  id="promo_form_experied_date" name="_experied_date" required>
                    </div>
                    <input type="submit" class="create-promo" value="Create">
                </div>
            </div>

        </form>

        {#history promo#}
    <h3 class="promohead">History</h3>

    <div id="history">
        <ul>
            {% for p in all_promo %}
                {#<li>{{ p.getCreated|date("M d, Y") }} - generated {{ p.getPromocode }} promo code of  "{{ p.getPrefix }}"</li>#}
                <li>{{ p.created|date("M d, Y") }} - generated {{ p.count_promo }} promo code of  "{{ p.prefix }}"
                    , {% if p.isunlimited %}
                        unlimited
                    {% else %}
                        not unlimited
                    {% endif %}
                    {% if  p.startfrom %}
                        , until  {{ p.startfrom|date("M d, Y") }}
                    {% endif %}
                    , expired on {{ p.experied|date("M d, Y") }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}