{% if freg %}
    <p>Title: {{ freg.getTitle }}</p>
    <p>Firstname: {{ freg.getFirstname }}</p>
    <p>Lastname: {{ freg.getLastname }}</p>
    <p>Profession: {{ freg.getProfession }}</p>
    <p>Are you a physician: {{freg.isIsphisican==1 ? "Yes" : "No" }}</p>
    <p>Hospital/University/Organization: {{ freg.getOrganization }}</p>
    <p>Organization Type: {{ freg.getOrganizationType }}</p>
    <p>Country: {{ freg.getCountry }}</p>
    <p>Address line 1: {{ freg.getAddressLine1 }}</p>
    <p>Address line 2: {{ freg.getAddressLine2 }}</p>
    <p>City: {{ freg.getCity }}</p>
    <p>Zip or Postal code: {{ freg.getPostcode }}</p>
    <p>State / Region: {{ freg.getRegion }}</p>
    <p>Phone number: {{ freg.getPhone }}</p>
{% endif %}

