{% trans_default_domain 'FOSUserBundle' %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" http-equiv="Cache-control" content="public">
        <title>S-Anatomy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link href="{{ asset('bundles/swarminfoimagescript/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/themify-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/ytplayer.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/swarminfoimagescript/css/userdata.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
            
        
        
        {% block headinfo %}
            {# potential css and js  #}
        {% endblock %}
    </head>
    <body
            {% block add_class %}{% endblock %}
            >
				
				
		<div id="selectLanguages">
			<div id="selectLanguagesZone">
				<ul>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'en'}) }}">English</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'sc'}) }}">中文(简体)</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'tc'}) }}">中文(繁體)</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'fr'}) }}">Français</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'es'}) }}">Español</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'de'}) }}">Deutsch</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'ja'}) }}">日本語</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'pt'}) }}">Português</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'ru'}) }}">Русский</a>
					</li>
					<li>
						<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'ar'}) }}">اللُغَة العَرَبِيَّة</a>
					</li>
				</ul>	
			</div>
		</div>		
				
				
		<div class="nav-container" >
			
			
		
			
			<nav>
				<div class="nav-bar">
					<div class="module left">
						<a href="{{ path('swarminfo_imagescript_page1', {}) }}">
							<img class="logo logo-dark" alt="OMCSA" src="{{ asset('bundles/swarminfoimagescript/img/omcsa-logo.png') }}">
						</a>
					</div>
					<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
						<i class="ti-menu"></i>
					</div>
					

					
					<div class="module-group right">
						<div class="module left">
							<ul class="menu">
									{% if app.user is null or app.user.getStatus == 'removed' %}
									<li>

									<a href="{{ path('fos_user_security_login', {}) }}">{{ 'security.login.submit'|trans }}</a>
								</li>

 							<!--	<li>
									<a href="{{ path('swarminfo_imagescript_page5', {}) }}">{{ 'registration.submit'|trans }}</a>
								</li>		
							-->			
								
								<li>
									<a href="{{ path('swarminfo_imagescript_page3', {}) }}">{{ 'mainpage.pricing'|trans }}</a>
								</li>
					
                                                                {% else %}
                                                                <li>
																	{{ 'mainpage.welcomeuser'|trans }} <a href="{{ path('swarminfo_user_pannel', {}) }}">{{ app.user }}</a> : <a href="{{ path('fos_user_security_logout', {}) }}">{{ 'mainpage.logout'|trans }}</a>
                                                                </li>
                                                                {% endif %}
                                                               
						
					<!--	
								<li class="has-dropdown">
									<a href="#">
										Support
									</a>
									<ul>
										<li>
											<a href="#">
												FAQ
											</a>
										</li>
									</ul>
								</li>
								
					-->	
					
					
								<li class="has-dropdown">
									{#<a href="#">English</a>#}
									<a href="#">
										{% if app.request.locale == 'ru' %} Русский
										{% elseif app.request.locale == 'en' %}  English
										{% elseif app.request.locale == 'es' %}  Español
										{% elseif app.request.locale == 'de' %}  Deutsch
										{% elseif app.request.locale == 'fr' %}  Français
										{% elseif app.request.locale == 'pt' %}  Português
										{% elseif app.request.locale == 'ar' %}  اللُغَة العَرَبِيَّة
										{% elseif app.request.locale == 'sc' %} 中文(简体)
										{% elseif app.request.locale == 'tc' %} 中文(繁體)
										{% elseif app.request.locale == 'ja' %} 日本語
										{#{% else %}{{ currentlanguage }}#}
										{% else %} English
										{% endif %}
										{#{{ currentlanguage }}#}
									</a>
									<ul>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'en'}) }}">English</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'sc'}) }}">中文(简体)</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'tc'}) }}">中文(繁體)</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'fr'}) }}">Français</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'es'}) }}">Español</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'de'}) }}">Deutsch</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'ja'}) }}">日本語</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'pt'}) }}">Português</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'ru'}) }}">Русский</a>
										</li>
										<li>
											<a href="{{ path('swarminfo_imagescript_changelanguage', {_locale: 'ar'}) }}">اللُغَة العَرَبِيَّة</a>
										</li>
									</ul>
								</li>
						
								
							</ul>
						</div>

						{#<div id="google_translate_element"></div><script type="text/javascript">#}
							{#function googleTranslateElementInit() {#}
								{#new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,de,fr,ja,ko,pt,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');#}
							{#}#}
						{#</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>#}


					
					

<!--- Languages Menu --->
<!--				
						<div class="module widget-handle language left">
							<ul class="menu">
								<li class="has-dropdown">
									<a href="#">ENG</a>
									<ul>
										<li>
											<a href="#">CHINESE </a>
										</li>
										<li>
											<a href="#">JAPANESE </a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						
-->						
						
						
					</div>
					
				</div>
			</nav>
		
		</div>
		

					
        {% block body %}{% endblock %}


		

        
        
        {% block bottom %}
        {% endblock %}
    
        {% block bottomscript %}
            {% javascripts
                '@SwarminfoImagescriptBundle/Resources/public/js/jquery.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/bootstrap.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/flexslider.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/lightbox.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/masonry.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/twitterfetcher.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/spectragram.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/ytplayer.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/countdown.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/smooth-scroll.min.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/parallax.js'
                '@SwarminfoImagescriptBundle/Resources/public/js/scripts.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
				