{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="tips"{% endblock %}
{% block body %}
        <div class="main-container">
<section>
    <div class="container">

1. If internet speed is not fast enough, please use the wheel of the mouse to scroll from the first image to the last image. Wait for a short while for all the images to download and once download is complete, viewing of the images will be smooth.
<br/><br/>
2. The display bar above the image :
<br/>
a. “Square” button : only shows labellings within the square.
<br/>
b. “Display” button : has three modes that changes by clicking over the button :
<br/>
1. “display” – showing content,
<br/>
2. “quiz” – anatomy is hidden and will appear when the pointer is over the “name bar”.
<br/>
3. “hidden” – all labellings are hidden.
<br/>
c. “Choose visible structures” button : select the group or groups of anatomy that will be displayed. Anatomies such as bone, joint, some ligaments and others are not displayed when images and labellings are first loaded. These hidden anatomies have to be selected in this button to view.
<br/>
d. “Rainbow” button : the adjacent anatomies and lines will change into different colours when this button is being selected so that adjacent anatomies are more visible from each other. The original colours will reappear when selecting this button again.
<br/><br/>
3. Click on OMCSA to return to the home page. Click on the browser’s “back” button to return to the previous page.
<br/><br/>
4. Click on the “member’s name” located on top right to enter into member’s account details.
<br/><br/>


</div>

    
</section>
                {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
        </div>

{% endblock %}