<div>
    {% if message!=NULL %}
        <div class="alert alert-success">
            {{ message}}<br>
        </div>
    {% endif %}

    <form action="{{ path('swarminfo_imagescript_translate_legends', {}) }}?id={{ id }}" method="post" >
        <label>English </label>


        <label style="display: inline; margin-left: 600px">Select language for translate</label>
        <select  style="display: inline" name="_languagefortraslate" id="_languagefortraslate">
            {#if l!="english"#}
            {% for l in languages if l!="english"%}
                <option value="{{ l }}" {{ l==langfortranslate ? ' selected ' }} > {{ l }}</option>
            {% endfor %}
        </select>

        {#button for translate#}
        <input type="submit" value="Save" onclick="return confirm('Are you sure?')">
        <a style="height: 50px; margin-left: 5px;   line-height: 48px;      background: green;    color: white;    width: 100%;
                                 font-size: 11px;    text-transform: uppercase;    font-weight: bold;    letter-spacing: 1px;    border-radius: 0 !important;"
           href="{{ path('swarminfo_imagescript_translate_legends', {}) }}?id={{ id }}&back=1">Back to frame</a>


        {#{{ key}}:#}
        <textarea style="text-align: start" name="Text1" cols="70" rows="50" wrap="off" readonly >{% for key,l in legends %}{{ l['text']['english'] }}&#13;&#10;{% endfor %}</textarea>


        <textarea style="float: right" name="TextTranslate" cols="70" rows="50" wrap="off">{% for key,l in legends %}{% if langfortranslate!='' %}{% if l['text'][langfortranslate] is defined %}{{ l['text'][langfortranslate]  }}{% else %} {% endif %}{% else %}{{ l['text']['english'] }}{% endif %}&#13;&#10;{% endfor %}</textarea>
    </form>
    {#translate description#}
    <h1>-------------------------------------------Translate Descriptions-------------------------------------</h1>
    {#{{ langfortranslate }}#}

    <form action="{{ path('swarminfo_imagescript_translate_legends', {}) }}?id={{ id }}" method="post" >
        <label>English </label>
        <input type="hidden" name="langtr_desc" value="{{ langfortranslate }}">
        {%  set _locale="" %}
        {% if langfortranslate|capitalize=='Русский' %} {%  set _locale="ru" %}
        {% elseif langfortranslate|capitalize=='Chinese_sc' %} {%  set _locale="sc" %}
        {% elseif langfortranslate|capitalize=='Chinese_tc' %} {%  set _locale="tc" %}
        {% elseif langfortranslate|capitalize=='Français' %} {%  set _locale="fr" %}
        {% elseif langfortranslate|capitalize=='Español' %} {%  set _locale="es" %}
        {% elseif langfortranslate|capitalize=='Deutsch' %} {%  set _locale="de" %}
        {% elseif langfortranslate|capitalize=='Japanese' %} {%  set _locale="ja" %}
        {% elseif langfortranslate|capitalize=='Português' %} {%  set _locale="pt" %}
        {% elseif langfortranslate|capitalize=='Arabic' %} {%  set _locale="ar" %}
        {% else %}    {{ langfortranslate|capitalize }}
        {% endif %}
        <input type="hidden" name="desk_lang" style="display: inline; margin-left: 500px" value={{ _locale }}>

        <label style="display: inline; margin-left: 600px">Selected language for translate is {{ langfortranslate }}</label>

        {#button for translate#}
        <input type="submit" value="Save Description" onclick="return confirm('Are you sure?')"> <br>

        {#{{ key}}:#}
        <textarea style="text-align: start" name="Text1_name" cols="20" rows="50" wrap="off" readonly>{% for key,l in legends %}{{ l['text']['english']|slice(0, 20) }}&#13;&#10;{% endfor %}</textarea>
        <textarea style="text-align: start" name="Text1_descr" cols="50" rows="50" wrap="off" readonly >{% for key,l in legends %}{% if l['description'] is defined %}{% if l['description']['en'] is defined %}{{ l['description']['en'] }}{% else %}{{ l['description'] }}{% endif %}&#13;&#10;{% endif %}{% endfor %}</textarea>


        <textarea style="float: right" name="TextTranslate_desc" cols="70" rows="50" wrap="off">{% for key,l in legends %}{% if l['description'] is defined %}{% if l['description'][_locale] is defined %}{{ l['description'][_locale] }}{% endif %}&#13;&#10;{% endif %}{% endfor %}</textarea>
    </form>
</div>

{% javascripts
'@SwarminfoImagescriptBundle/Resources/public/js/jquery.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/bootstrap.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/flexslider.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/lightbox.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/masonry.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/twitterfetcher.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/spectragram.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/ytplayer.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/countdown.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/smooth-scroll.min.js'
'@SwarminfoImagescriptBundle/Resources/public/js/parallax.js'
'@SwarminfoImagescriptBundle/Resources/public/js/scripts.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    };

    $( "#_languagefortraslate" ).change(function() {
        var langtranslate=$("#_languagefortraslate" ).val();
//        console.log($.urlParam('id'));
        url="/translate_legends?id="+$.urlParam('id')+"&langtranslate="+langtranslate;
        $(location).attr("href", url);
    });


</script>
