{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block add_class %} class="logged-in userpannel"{% endblock %}
{% block body %}
    <div class="main-container">
<section>
    {% if message!=NULL %}
        <div class="alert {{ msgerr ? 'alert-danger" style="margin: 0 auto 50px;"' : 'alert-success"' }}'>
            {{ message}}<br>
        </div>
    {% endif %}
    <div class="container">
            <div class="row">
                <form action="{{ path('swarminfo_imagescript_usepromocode', {}) }}" method="post">
                    <div style="width:500px; margin:0 auto;">
                        <h4> {{ 'promocode.promocode'|trans }} </h4>
                        <input type="text" id="_promocode" name="_promocode"/><td>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
    </div>
</section>
    <div style="margin-top: 300px">
        {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}
    </div>

    </div>




{% endblock %}