{% extends "SwarminfoImagescriptBundle::skeleton.html.twig" %}
{% block add_class %} class="logged-in usermemberlist"{% endblock %}
{% block headinfo %}
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/admin_member.js"></script>
{% endblock %}
{% block body %}
    <div class="main-container orderhistory">
			<section>
        <div class="container">
            {% if message!=NULL %}
                <div class="alert alert-success">
                    {{ message}}<br>
                </div>
            {% endif %}

         <h3>User member list </h3>


        <form style="margin-left: 110px" action="{{ path('swarminfo_imagescript_usermemberlist', {}) }}" method="post">
            <div style="display:inline-block;">
                <a style="background: #47b475;color: #fff;" href="{{ path("swarminfo_imagescript_create_user_from_admin") }}">Create user</a>
            </div>

            <div style="display:inline-block; margin-left: 50px;">
                <label>Select type of filter</label>
            </div>

            <div style="display:inline-block; margin-left: 10px;">
                <select   name="_filtertag">
                    {% for f in filterlist %}
                        <option value="{{ f }}"  {{ f==filtertag ? ' selected ' }}>  {{ f }}</option>
                    {% endfor %}
                </select>
            </div>

            <div style="display:inline-block; margin-left: 10px;">
                <input  type="text" name="_searchvalue" placeholder="Enter search value" value="{{ searchvalue }}">
            </div>

            <div style="display:inline-block; margin-left: 10px;">
                <input  type="submit" value="Filter">
            </div>
        </form>

        {#width="100%"#}
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">Id<td align="center">Name
                <td align="center"><a  href="{{ path('swarminfo_imagescript_usermemberlist', {}) }}?sortpremium={% if not  status_sort%}1{% endif %}
                ">Status</a>
                <td align="center">Locked
                <td align="center">Expired date
                <td align="center">Create date<td>

            </tr>
            {#<col width="100">#}
            {% for user in users if user.getstatus != 'removed'%}
                <tr>
                    <form action="{{ path('swarminfo_imagescript_updateuser', {}) }}" method="post">
                        <td align="center"><input type="hidden" name="_id" value={{user.getId}} />{{ user.getId}}<td align="center">
                            <input type="hidden" name="_username" value={{user}} />{{user}} <td align="center">

                            {#status#}
                            {% if 'now'|date('d - m -Y')< user.getExpire %}
                                Member
                            {% else %}
                                {% for p in plans if p.getId==user.getId%}
                                    {#{{ p.getCountdevice }}#}
                                    {% if  p.getCountdevice == paypalplan %}
                                        Plan A ${{ paypalprice }} - Only {{ paypalplan }} device use limited
                                        {#{% set product_name={{ paypalplan }} %}#}
                                    {% elseif p.getCountdevice == paypalplan_2 %}
                                        Plan B ${{ paypalprice_2 }} - Only {{ paypalplan_2 }} device use limited
                                        {#{% set product_name=Plan B ${{ paypalprice_2 }} - Only {{ paypalplan_2 }} device use limited %}#}
                                    {% elseif p.getCountdevice== paypalplan_3  and p.getCountdevice %}
                                        Plan C ${{ paypalprice_3 }} - Unlimited device use
                                        {#{% set product_name=Plan C ${{ paypalprice_3 }} - Unlimited device use %}#}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <td align="center">

                        <input type="checkbox" class="islocked" value="{{ user.getId }}" {% if user.isLocked %} checked {% endif %}>

                             <td align="center">
                                {#<option value="Member"#}
                                    {#{{ 'now'|date('d - m -Y')> user.getExpire ? ' selected ' }} > Member</option>#}
                                {#<option value="Premium"#}
                                        {#{{ 'now'|date('d - m -Y')<=user.getExpire ? ' selected ' }} > Premium Member</option>#}
                            {#</input> <td>#}

                            {#expired date#}
                            {% if 'now'|date('d - m -Y')> user.getExpire %}
                            -
                            {% else %}
                            {{ user.getExpire|date('d/m/Y') }}
                            {% endif %}

                        <td align="center">

                            {% set isfind=0 %}
                            {% for f in freg if f.getUserid== user.getId%}
                                {% set isfind=1 %}
                                {#create date#}
                                {{f.getCreatedate}}  <td align="center">
                                {#<input type="datetime" id="createdate" name="_createdate" value={{f.getCreatedate}} /><td>#}


                            {% endfor %}



                            {% if isfind==0 %}
                                {#create date#}
                                -<td align="center">
                                {#<input type="datetime" id="createdate" name="_createdate" value="Not exist" readonly/><td>#}
                            {% endif %}



                            <input type="submit" value="Edit">

                    </form>

                </tr>
            {%endfor%}
        </table>
		</div>
		<section>
        {% include 'SwarminfoImagescriptBundle::footer.html.twig' %}

        <script language ="JavaScript">
            adminmember();
        </script>
{% endblock %}